/* chilfren of message-area */
#display-message-area{
    border-top: solid 1px;
    border-bottom: solid 1px;
    flex-grow: 1;
    overflow: auto;
}

#send-message-area{
    /* flex-grow: 0.2; */
    flex-grow: 0;

    /* make it a flex so that input and send button can be placed nicely */
    display: flex;
    justify-content: space-evenly;
}

#send-message-area > input{
    width: 80%;
    height: 40px;
}
#send-message-area > button{
    width: 18%;
    height: 40px;
}

