<a href="home">back</a><br>
<div id="display-message-area">
    <!-- messages will be shown here -->
</div>
<div id="send-message-area">
    <input name="message" id="message-input" placeholder="type message">
    <button id="send-message-btn" data-chatWithUsername=<%= chatWithUsername %>>send</button>
</div>