<div class="content-main">
    <div id="generate-number-form-container">
        <form action="" method="post">
            <% if(message) { %>
                <b><%= message %></b><br>
            <% } %>
            <% if(generatedNumber != null) { %>
                <b><%= generatedNumber %></b><br>
            <% } %>
            Create A Password<br>
            <input name="password" type="text"><br><br>
            Confirm Password<br>
            <input name="confirmPassword" type="password"><br><br>
            <button type="submit" name="generate-number-button">Generate BConnect Number</button><br><br>
            OR<br>
            <a href="/">Go To Login</a>
        </form>
    </div>
</div>