<div class="content-main">
    <div class="contact-area">
        <input id="search-contact" placeholder="search">
        <div id="search-result">
            
        </div>
        <div id="new-message-person">

        </div>
        <% contacts.forEach(contact => { %>
            <% const chatLink = "chat?username="+contact.username %>
            <a class="contact-name" href=<%= chatLink %>><%= contact.saved_name %></a>
        <% }); %>
    </div>
    <div class="message-area">
        <!-- No chat opened!
        <button id="send-message-btn">send</button> -->
        <% if(page === "home") { %>
            <!-- <div>No chat selected!</div> -->
            <%- include("home_partial.ejs") %>
        <% } else { %>
            <%- include("chat_partial.ejs") %>
        <% } %>
    </div>
</div>