<!DOCTYPE html>
<html>
    <head>
        <meta lang="en" charset="utf-8">
        <title>BConnect|Home</title>
        <link rel="stylesheet" type="text/css" href="styles/layout.css">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h2>BConnect..........</h2>
                <button id="logout-btn">logout</button>
            </div>
    
            <div class="main">
                <div class="contact-area">
                    <input id="search-contact" placeholder="search">
                    <% contacts.forEach(contact => { %>
                        <% const chatLink = "chat?username="+contact.username %>
                        <a class="contact-name" href=<%= chatLink %>><%= contact.username %></a>
                    <% }); %>
                </div>
                <div class="message-area">
                    <!-- No chat opened!
                    <button id="send-message-btn">send</button> -->
                    <% if(page === "home") { %>
                        <div>No chat selected!</div>
                    <% } else { %>
                        <div>
                            <!-- include chat window html from chat.ejs -->
                            <!-- temporary work below -->
                            <a href="home">back</a><br>
                            <input name="message" id="message-input" placeholder="type message">
                            <button id="send-message-btn" data-chatWithUsername=<%= chatWithUsername %>>send</button>
                        </div>
                    <% } %>
                </div>
            </div>
    
            <div class="footer">
                <div>@copyright 2023</div>
            </div>
        </div>
        <script src="scripts/cookieReader.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="scripts/logout.js"></script>
        <% if(page=="home"){ %>
            <script src="scripts/home.js"></script>
        <% } else{ %>
            <script src="scripts/chat.js"></script>
        <% } %>
    </body>
</html>